.aside {
    height: 600px;
    width: 400px;

    background-image: url('../../Assets/cellBg.png');
    background-repeat: no-repeat;
    background-size: contain;
    
    display: flex;
    justify-content: flex-end;
    padding-right: 30px;
    padding-top: 5px;
    align-items: center;
}
.content {
    background-position: center;
    background-size: contain;
    animation: slider 10s infinite;
    overflow: hidden;
    height: 560px;
    width: 260px;
}
.content img {
    height: inherit;
    width: inherit;
    opacity: 0;
}
.content .active {
    opacity: 1;
}

@keyframes slider {
    0% {
        background-image: url('../../Assets/cellphone1.png');
    }
    25% {
            background-image: url('../../Assets/cellphone2.png');
        }
    50% {
        background-image: url('../../Assets/cellphone3.png');
    }
    75% {
        background-image: url('../../Assets/cellphone4.png');
    }
    100% {
        background-image: url('./../Assets/cellphone1.png');
    }
}