.aside {
    height: 600px;
    width: 400px;

    background-image: url('../../Assets/cellBg.png');
    background-repeat: no-repeat;
    background-size: contain;
    
    display: flex;
    justify-content: flex-end;
    padding: 0 90px;
    align-items: center;
}
.content {
    background-repeat: no-repeat;
    background-size: contain;
   
    height: 650px;
    width: 300px;
}