.aside {
    height: 700px;
    width: 500px;

    background-image: url('../../Assets/cellBg.png');
    background-repeat: no-repeat;
    background-size: contain;
    
    display: flex;
    justify-content: flex-end;
    padding: 0 68px;
    align-items: center;
}
.content {
    background-image: url(../../Assets/cellphone1.png);
    background-repeat: no-repeat;
    background-size: contain;
   
    height: 650px;
    width: 300px;
}