.formContainer {
    height: 700px;
    width: 450px;
    
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    
}
.form {
    border: 1px solid #ddd;
    width: 80%;
    height: 400px;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}
.form input {
    border: 1px solid #ddd;
    width: 80%;
    height: 30px;
    padding: 4px;
    
}
.form button {
    width: 80%;
    height: 30px;
    border-radius: 4px; 
    
    letter-spacing: 2px;
    font-weight: bold;
    color: white;
    background-color: #069cd85d;
}
.buttons {
    display: flex;
    width: 80%;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}
.buttons p {
    text-align: center;
    margin: 10px 0;
    flex-basis: 100%;
}
.buttons a img {
    width: 130px;
}
.signUp {
    margin: 20px 0;
    border: 1px solid #ddd;
    width: 80%;
    padding: 20px;
}